<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="firstname" id="" placeholder="firstname"><br><br>
        <input type="text" name="lastname" id="" placeholder="lastname"><br><br>
        <input type="text" name="username" id="" placeholder="username"><br><br>
        <input type="email" name="email" id="" placeholder="email"><br><br>
        <input type="password" name="password1" id="" placeholder="password"><br><br>
        <input type="password" name="password2" id="" placeholder="confirm password"><br><br>
    </form>
</body>
</html>